.message-user {
    width: 100%;
    height: 592px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightsteelblue;
}
.message-information-user {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.message-information-user img {
    border-radius: 10px;
    box-shadow: 0 0 9px 8px white;
}